{% extends "structure.html" %}
{% load static %}


{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Libreria</h1>
    <div class="container">
        <div class="row justify-content-center">
            {% for book in books %}
                <div class="col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <h6 class="card-title">Autor: {{ book.author }}</h6>
                            <p class="card-text">
                            {% if book.status == 'disponible' %}
                            <a href="{% url 'borrow_book' book.pk %}" class="btn btn-primary">Pedir prestado</a>
                            {% elif request.user in book.borrowed_by.all %}
                            <a href="{% url 'return_book' book.pk %}" class="btn btn-secondary">Devolver</a>
                            {% endif %}
                            </p>
                            <a href="{% url 'eliminar' book.pk %}" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-success btn-lg px-6 gap-3" href={% url "añadir" %}>Añadir libro</a>
    </div>
</div>
{% endblock content %}